@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Formato de la pagina principal de arranque -->
<br />
<div class=" text-center">
    <div class="col-lg-12">
        <h1 class=" text-info">Gestion de Clientes</h1>
    </div>
    <h3>
        <small class="text-muted text-center">Bienvenido al applicativo para gention de clientes.</small>
    </h3>
</div>
<hr />

<div class=" text-dark">
    <h4>
        <small class="text-muted text-center">Desarrollado por: </small>
    </h4>
    <dl class="row">
        <dt class="col-sm-3">Nombre </dt>
        <dd class="col-sm-9">Diego Alberto Sanchez</dd>

        <dt class="col-sm-3">email </dt>
        <dd class="col-sm-9">diegosangz1@gmail.com</dd>
    </dl>
</div>
<br />

<div class=" text-dark">
    <p class=" text-body">
        El objetivo de este aplicativo, es permitir el manejo de una lista de clientes, mediante la utilizacion de operaciones CRUD.
    </p>
</div>
